<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Create our type MemberGridDataProvider -->
    <virtualType name="MemberGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Test\Affiliate\Model\Resource\Member\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">MemberGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>
 
    <!-- Create our type MemberGridFilterPool -->
    <virtualType name="MemberGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
 
    <!-- Type for affiliates_member_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="affiliates_member_listing_data_source" xsi:type="string">Test\Affiliate\Model\ResourceModel\Grid\Member\Collection</item>
            </argument>
        </arguments>
    </type>

     <preference for="Test\Affiliate\Api\MemberRepositoryInterface" 
        type="Test\Affiliate\Model\MemberRepository"/>

    <preference for="Test\Affiliate\Api\Data\MemberInterface" 
        type="Test\Affiliate\Model\Member"/>

    <preference for="Test\Affiliate\Api\Data\MemberSearchResultInterface" 
        type="Test\Affiliate\Model\MemberSearchResult"/>


        <preference for="Test\Affiliate\Api\Data\MemberResultInterface" 
        type="Test\Affiliate\Model\MemberResultRepository"/>



        <!-- <preference for="Test\Affiliate\Api\Data\MemberInterface" 
            type="Test\Affiliate\Model\Member"/>
    <preference for="Test\Affiliate\Api\MemberRepositoryInterface" 
        type="Test\Affiliate\Model\MemberFilter"/> -->



 
    <!-- Simulate our class Maxime\Jobs\Model\ResourceModel\Grid\Member\Collection -->
    <virtualType name="Test\Affiliate\Model\ResourceModel\Grid\Member\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">test_affliate_info</argument>
            <argument name="resourceModel" xsi:type="string">Test\Affiliate\Model\ResourceModel\Member</argument>
        </arguments>
    </virtualType>
</config>